body{
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
 
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    height: 30vh;
    max-width: 90%;
    color: #070707;
  }
  
  .user-image {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 3px solid rgba(255, 255, 255, 0.5);
  }
  .loader>p{
    position: absolute;
    height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .user-info h2 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .user-info p {
    margin: 5px 0;
    font-size: 2em;
  }
  
  .loader{
   height: 60vh;
   display: flex;
   justify-content: center;
   align-items: center;
   

  }
  
  /* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */
  